body {
    font: 10pt "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1 {
    background-color: #fdffc6;
    border: 2px solid #c9ce58;
    font-size: 120%;
}

h2 {
    font-size: 110%;
}

dt {
    font-variant: small-caps;
    color: #002ea0;
    font-weight: bold;
}
